{% extends "base.html" %}
{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container">
  <h2>Forgot Password</h2>

  <form method="POST">
    <div>
      <label>Email:</label>
      <input type="email" name="email" placeholder="Enter your registered email" required>
    </div>
    <div>
      <label>New Password:</label>
      <input type="password" name="new_password" placeholder="Enter new password" required>
    </div>
    <div>
      <label>Confirm Password:</label>
      <input type="password" name="confirm_password" placeholder="Confirm new password" required>
    </div>
    <div class="button-group">
    <button type="submit">Update</button>
    <a href="{{ url_for('login') }}" class="btn-auth">⬅ Back to Login</a>
  </div>

  </form>


{% endblock %}
